/****** General ******/

:root {
  margin: auto;
}

body {
   
    background-color: rgb(41, 41, 41); 

    margin: auto;
    padding: 20px;
    max-width: 720px;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
}

.body-content {
    padding: 20px;
    color: rgb(197, 135, 0);
  }




/****** Navbar ******/

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.navbar a {
  color: rgb(197, 135, 0);  
  text-decoration: none;
}
  

  
 .dashboard-intro {
    font-size: xx-large;
 }



 /****** user-articles ******/

 .user-articles {
  border : 1px solid rgb(197, 135, 0);
  background-color: rgb(41, 41, 41);
  color: rgb(197, 135, 0); 
  padding: 20px; 
 }

 .user-articles hr {
  border : 1px solid rgb(197, 135, 0);
 }

 /****** Discover ******/

 .discover-list {
  border : 1px solid rgb(197, 135, 0);
  background-color: rgb(41, 41, 41);
  color: rgb(197, 135, 0); 
  padding: 10px; 
 }

 .discover-list li {
  list-style: none;
 }

 /****** Footer ******/

 footer {
    text-align: center;
    color: rgb(197, 135, 0);
 }





 /****** Register Form ******/

 .register-form {
  margin: 0 auto;
  padding: 20px;
}

.register-form h1 {
  text-align: center;
  margin-bottom: 20px;
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"] {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.register-form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.register-form input[type="submit"]:hover {
  background-color: #45a049;
}

.register-form input[type="submit"]:active {
  background-color: #3e8e41;
}

.register-form input[type="submit"]:focus {
  outline: none;
}

/****** Login Form ******/

.login-form {
  margin: 0 auto;
  padding: 20px;
}

.login-form h1 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"] {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.login-form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.login-form input[type="submit"]:hover {
  background-color: #45a049;
}

.login-form input[type="submit"]:active {
  background-color: #3e8e41;
}

.login-form input[type="submit"]:focus {
  outline: none;
}
 