/****** Fonts ******/
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans.woff') format('woff');


}

/****** General ******/
:root {
  --width: 800px;
  --font-main: Open Sans, sans-serif;
  --font-secondary: Open Sans, sans-serif;
  --font-scale: 1em;
  --background-color: #fff;
  --heading-color: #222;
  --text-color: #444;
  --link-color: #3273dc;
  --visited-color:  #8b6fcb;
  --code-background-color: #f2f2f2;
  --code-color: #222;
  --blockquote-color: #222;
  margin: auto;
}

body {
  max-width: var(--width); 
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-main);
  font-size: var(--font-scale);

  margin: auto;
  padding: 20px;
  max-width: 720px;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
}





/****** Navbar ******/

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: var(--width); 
  margin-bottom: 50px;
}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.navbar a {
  text-decoration: none;
  color: var(--text-color)
}

.navbar a:hover {
  color: rgb(197, 135, 0);  
  text-decoration: underline;
 }
  

  
 .dashboard-intro {
    font-size: xx-large;
 }

 /****** create-articles ******/
 .create-article {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

 /****** user-articles ******/

 .user-articles {
  margin-bottom: 10px;
 }

 .user-articles li {
  list-style: none;
 }

 .user-articles a {
  text-decoration: none;
 }

 .user-articles a:hover {
  color: rgb(197, 135, 0);  
  text-decoration: underline;
 }

 /****** Discover ******/

 .discover-list {
  margin: 0;
 }

 .discover-list ul {
  padding: 0;
 }

 .discover-list li {
  list-style: none;
 }

 .discover-list a {
  text-decoration: none;
  color: var(--text-color); 
 }

 .discover-list a:hover {
  color: rgb(197, 135, 0);  
  text-decoration: underline;
 }

 .article-info {
  margin-right: 20px;
}

.article-date {
  margin-right: 20px;
}

 /****** Footer ******/

 footer {
    text-align: center;
    color: rgb(197, 135, 0);
 }


 /****** Register Form ******/

 .register-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  padding: 20px;
}

.register-form h1 {
  text-align: center;
  margin-bottom: 20px;
}

.register-form label {
  width: 100px;
  display: inline-block;
  margin-bottom: 10px;
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"] {
  width: 100%;
  padding: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.register-form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.register-form input[type="submit"]:hover {
  background-color: #45a049;
}

.register-form input[type="submit"]:active {
  background-color: #3e8e41;
}

.register-form input[type="submit"]:focus {
  outline: none;
}

.create-article textarea {
  background-color: #e6e6e6;
  width: 100%;
  height: 300px;
}


.create-article input[type="text"],
.create-article textarea {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  display: block;
}

.create-article input[type="text"] {
  height: 40px;
}


/****** Login Form ******/

.login-form {
  margin: 0 auto;
  padding: 20px;
}

.login-form h1 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"] {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.login-form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.login-form input[type="submit"]:hover {
  background-color: #45a049;
}

.login-form input[type="submit"]:active {
  background-color: #3e8e41;
}

.login-form input[type="submit"]:focus {
  outline: none;
}
 



