{% extends 'user/navbar.html' %}


{% block content %}

<br>
<h3>My Articles</h3>

{% for article in AllArticles %}

    <div class="user-articles">
        
        <h1>{{ article.title }}</h1>
        {{ article.created_at }}
        <hr>

        {{ article.formatted_markdown |safe }}
        <br>
        
   
       
        {{ form.media }}
        <br> <br>

        <a href="{% url 'update-article' article.id %}">Update Article</a>

        <br>

        <a href="{% url 'delete-article' article.id %}">Delete Article</a>
    </div>
   

    <br>
    
{% endfor %}


{% endblock %}







