{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> 
   

    
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    
     <nav class="navbar">
        <!-- Navigation --> 
        <h1> &#10270; &#10298; </h1>
        <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'discover-articles' %}">Discover</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
        <li><a href="{% url 'user-login' %}">Login</a></li>
       </ul>
    </nav> 

    <div class="body-content">
        {% block content %}

        
        {% endblock %}
    </div>

    <footer>
        <!-- Footer -->
        <p> &#169; 2024 The Tiny Web. All rights reserved. </p>
    </footer>
    <script src="{% static 'js/base.js' %}"></script>
    
</body>
</html>