
{% extends 'account/base.html' %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    
{% comment %} 
    <form method="POST" class="register-form" autocomplete="off">
    {% csrf_token %} 
    
    {{ RegisterForm.as_p }} 

    <input type="submit" value="Register"> {% endcomment %}

    <form method="POST" class="register-form" autocomplete="off">
        <h1> Register Page </h1>
        {% csrf_token %} 
        {{ RegisterForm.email.label_tag }} {{ RegisterForm.email }}
        {% if RegisterForm.email.errors %}
            <div class="alert alert-danger">{{ RegisterForm.email.errors }}</div>
        {% endif %}

        {{ RegisterForm.password1.label_tag }} {{ RegisterForm.password1 }}
        {% if RegisterForm.password1.errors %}
            <div class="alert alert-danger">{{ RegisterForm.password1.errors }}</div>
        {% endif %}

        {{ RegisterForm.password2.label_tag }} {{ RegisterForm.password2 }}
        {% if RegisterForm.password2.errors %}
            <div class="alert alert-danger">{{ RegisterForm.password2.errors }}</div>
        {% endif %}

        {{ RegisterForm.terms_checkbox.label_tag }} {{ RegisterForm.terms_checkbox }}

        <input type="submit" value="Register" class="register-button">
    </form>


{% endblock %}



