/****** General ******/

:root {
  margin: auto;
}

body {
   
    background-color: rgb(41, 41, 41); 

    margin: auto;
    padding: 20px;
    max-width: 720px;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
}

.body-content {
    padding: 20px;
    color: rgb(197, 135, 0);
  }




/****** Navbar ******/

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.navbar a {
  color: rgb(197, 135, 0);  
  text-decoration: none;
}
  

  
 .dashboard-intro {
    font-size: xx-large;
 }



 /****** user-articles ******/

 .user-articles {
  color: rgb(197, 135, 0);  
 }

 .user-articles p {
  color: rgb(197, 135, 0);
  padding: 20px;
  border : 1px solid rgb(197, 135, 0);

 }