{% extends 'account/base.html' %}
{% block title %}
    Discover
{% endblock %}

{% block content %}
    <h1>Discover New Authors</h1>

    <div class="discover-list">
    <ul>
        {% for article in AllArticles %}
            <li>
                <h4><a href="{% url 'discover-article-detail' article.id %}"><span class="article-info">{{ article.created_at }} </span>    {{ article.title }} | Written by: {{ article.user.first_name }}</h4></a>
            </li>
        {% endfor %}
    </ul>
    </div>

{% endblock %}